<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="ByteLynk - Shorten your long URLs easily and quickly.">
  <meta name="keywords" content="URL Shortener, ByteLynk, Shorten Links, URL Management">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
  <link rel="icon" href="/assets/Favicon.png" type="image/png">
  <title>ByteLynk</title>
  <style>
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body{
      background-image: url('/assets/Dark.png');

      /* https://sdmntprsouthcentralus.oaiusercontent.com/files/00000000-9780-61f7-9f8b-28faf5d30f3b/raw?se=2025-05-03T19%3A35%3A41Z&sp=r&sv=2024-08-04&sr=b&scid=6000f75a-6b82-5bab-a044-ba46744d1035&skoid=cbbaa726-4a2e-4147-932c-56e6e553f073&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-05-03T00%3A29%3A03Z&ske=2025-05-04T00%3A29%3A03Z&sks=b&skv=2024-08-04&sig=v5%2BscqSD1THRpe4cKW%2B1%2BJL2Jzs0yxrvjMtFf1LVsoU%3D */
      background-size: cover;
    }

    body.dark-theme {
      background-image: url('/assets/Light.png');
    }
    
    .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: 100vh;
    }

    h1 {
      background: linear-gradient(to right, #204ede, #d85595, #204ede);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: clamp(1.5rem, 5vw + 1rem, 3rem);
      padding: 10px;
      margin-top: 20px;
    }

    h2{
      background: linear-gradient(to right, #204ede, #d85595, #204ede);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: clamp(1rem, 5vw + 1rem, 2rem);
      padding: 10px;
    }

    table{
      background-color: rgba(60, 60, 60, 0.214);
      border: 1px solid white;
      margin: auto;
    }

    table td a {
      word-break: break-word;
      white-space: normal;
      display: inline-block;
    }

    .truncate-full-url {
      display: inline-block;
      max-width: 28vw;
      min-width: 28vw;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
    }

    /* 
    Can use media queries to truncate url instead of vw units
    
    @media screen and (min-width: 320px) {
      .truncate-full-url {
        max-width: 80px;
        min-width: 80px;
      }
      
    }

    @media screen and (min-width: 768px) {
      .truncate-full-url {
        max-width: 300px;
        min-width: 300px;
      }
      
    }

    @media screen and (min-width: 1024px) {
      .truncate-full-url {
        max-width: 500px;
        min-width: 500px;
      }
      
    } */

    tr{
      color: white;
      white-space: nowrap;
      font-size: clamp(0.8rem, 2vw, 1rem);
    }

    .themeBtn{
      width: 38px;
      height: 45px;
    }

    #themeToggle{
      position: absolute;
      bottom: 20px;
      right: 20px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      border: 2px solid gray;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.236);
    }

    .delete{
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: white;
    }

    #deleteall{
      background-color: transparent;
      cursor: pointer;
      color: white;
      font-size: clamp(0.8rem, 2vw, 1rem);
      border-radius: 20px;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid white;

      &:hover{
        background-color: #3b4ccc;
      }
    }

    #info{
      color: white;
      font-weight: bold;
      margin-top: 20px;
      border: 1px solid white;
      border-radius: 20px;
      height: clamp(200px, 40vw + 1rem, 300px);;
      width: clamp(300px, 50vw + 1rem, 800px);
      background-color: rgba(60, 60, 60, 0.214);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: clamp(0.8rem, 2vw, 1rem);
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Shorten Your Loong Links !</h1>
    <button title="Change Theme" id="themeToggle" class="btn">
      <img class="themeBtn" src="https://png.pngtree.com/png-vector/20221010/ourmid/pngtree-theme-icon-vector-png-image_6293125.png">
    </button>
    <form action="/shortUrls" method="POST" class="my-4 form-inline">
      <label for="fullUrl" class="sr-only">URL</label>
      <input required placeholder="Enter the link here !" type="url" name="fullUrl" id="fullUrl" class="form-control col mr-2">
      <button class="btn btn-danger" type="submit">Shorten</button>
    </form>
    <center>
      <div id="info">
        YOUR SHORTENED URLs WILL BE DISPLAYED HERE !
      </div>
    <h2 id="act" class="d-none">Recent Activity</h2>
    <table class="table table-striped table-hover rounded-lg table-responsive d-none">
      <thead>
        <tr>
          <th>Full URL</th>
          <th>Shorten URL</th>
          <th>Clicks</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <% shortUrls.forEach(shortUrl => { %>
          <tr>
            <td><a href="<%= shortUrl.full %>" target="_blank" class="truncate-full-url"><%= shortUrl.full %></a></td>
            <td><a href="<%= shortUrl.short %>" target="_blank"><%= shortUrl.short %></a></td>
            <td><%= shortUrl.clicks %></td>
            <td>
            <form action="/delete/<%= shortUrl._id %>" method="POST">
              <button class="delete" type="submit" onclick="return confirm('Are you sure you want to delete this URL ?');"><i class="fa-solid fa-trash"></i></button>
            </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <form action="/delete-all" method="POST" onsubmit="return confirm('Are you sure you want to empty the table ?');">
        <button id="deleteall" type="submit" class="d-none">Delete All <i class="fa-solid fa-trash"></i></button>
      </form>
    </center>
  </div>

  <script>
    document.getElementById('themeToggle').addEventListener('click', function () {
      document.body.classList.toggle('dark-theme');
    });

    document.addEventListener('DOMContentLoaded', function () {
      const table = document.querySelector('table');
      const heading = document.getElementById('act');
      const info = document.getElementById('info');
      const deleteall = document.getElementById('deleteall');
      if (table && table.rows.length > 1) {
        table.classList.remove('d-none');
        heading.classList.remove('d-none');
        deleteall.classList.remove('d-none');
        info.classList.add('d-none');
      }
    });
  </script>

</body>
</html>